<div class="showFont">
<h1> Profile </h1>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<% @reservations.each do |r| %>
<%= r.restaurant.name %><br>
<%= l(r.begin, format: :default) %><br>
<%= r.party_size %><br>
<button type="button" class="btn-custom-edit" type="button">
<a href='<%= edit_user_reservation_path(current_user.id, r.id) %>'>Edit</a></button>


<button class="btn-custom-delete" type="button">
  <%= link_to 'Delete', user_reservation_path(current_user.id, r.id), method: 'DELETE'%>
</button>




<br><br>
<% end %>
</div>