<div class="top">
<div class="authform">
  <div class="animated animationDelayLong fadeIn">
<%= form_for :reservation, :url => user_reservations_path, :method => :post do |f| %>  
  <%= f.label "What date?" %> <br>
  <div class="field">
  <%= f.text_field :begin, :id => "calendar" %>
  </div>



  <script>
  $(function() {
    $("#calendar").datepicker();
  });
  </script>
  <% if false %>
  <%= f.datetime_select :begin, 
   {:twelve_hour => true, :ampm => true, :minute_step => 30,  
    :start_hour => 18, :end_hour => 21} %> 
<% end %>

   <br>
    <%= f.label "For How Many?" %> <br>
  <%= f.number_field :party_size, in: 1..24, value: 1 %> 
  
<br>
<br>
<br>

  <%= f.submit class: "button" %>

<% end %>
</div>
</div>



</div>

