<div class="top">
<div class="authform container">
  <div class="animated animationDelayLong fadeIn">
<%= form_for :reservation, :url => user_reservations_path, :method => :post do |f| %> 

  <%= f.label "Calendar", :class => 'form_font_style' %> <br>
  <div>
  <!-- <img id="calendar_icon_align" src="http://i.imgur.com/YALbuNM.jpg"> -->
  <div id="calendar_icon_datepicker">
  <input type="hidden" id="calendar_icon_datepicker"/>
  </div>
  </div>
  
  <!-- text field JQuery datepicker click and appear -->
  <!-- <div class="field form-horizontal center">
  <%= f.text_field :begin, :id => "calendar", :autocomplete => :off, :placeholder => "Click here to select date", :class => 'calendar_align calendar_font_style' %>
  </div> -->

  <script>
  $(function() {
    $("#calendar").datepicker();
  });
  </script>
  <% if false %>
  <%= f.datetime_select :begin, 
   {:twelve_hour => true, :ampm => true, :minute_step => 30,  
    :start_hour => 18, :end_hour => 21} %> 
<% end %>

   <br>
    <%= f.label "For How Many?" %> <br>
  <%= f.number_field :party_size, in: 1..24, value: 1 %> 
  
<br>
<br>
<br>

  <%= f.submit class: "button" %>

<% end %>
</div>
</div>



</div>

