<!DOCTYPE html>
<html class="no_flow">
  <head>
  <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" href="/assets/images/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <link rel="icon" href="/assets/images/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Seat" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Seat" %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/messages' %>
       <%= yield %> 
  </head>
<body id="background">
  <header class="container-fluid">
    <%= render 'layouts/navigation' %>
  </header>
  <div class="container">
    <div class="col-md-12 text-center">
      <div id="background">  
        <div class="brand">
        <div id="black_background">
      <!-- <div class="slogan_container">Have a Seat with Us</div> -->
        <div clas="slogan container" id="footer">Have a Seat with Us </div>
      </div>
    </div>
  </div>
    
   


  </body>
</html>
