<!DOCTYPE html>
<html class="no_flow">
  <head>
  <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" href="/assets/images/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <link rel="icon" href="/assets/images/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Seat" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Seat" %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/messages' %>
       <%= yield %> 
  </head>
<body id="background">
  <header class="container-fluid">
    <%= render 'layouts/navigation' %>
  </header>
<<<<<<< HEAD


  <div id="main" role="main">
  <div class="col-md-12 text-center" style="margin-bottom: 8px;">

  <!-- Section #1 / Intro -->
  <section id="first" data-speed="8" data-type="background"> 
      <%= render 'layouts/messages' %>
       <%= yield %>       
    <div class="smashinglogo" data-type="sprite" data-offsetY="100" data-Xposition="50%" data-speed="-2"></div> 
    <div class = "slogan_container">
    <img src="http://i.imgur.com/LYYtetg.png" class="tag_line" />
  </div>
       


    </div>

    <!-- <article>
    
      <img src=url('http://i.imgur.com/9U1O6J3.png') alt="tutorial-title" width="711" height="242" />
      
      </article> -->
  </section>

  <div class="container three-callouts">
    <div align="center" class="col-md-4">
      <h2>Place a reservation</h2>
      <p>Set a date at your favorite spot.</p>
      <a href="#">Learn More</a>
    </div>
    <div align="center" class="col-md-4">
      <h2>Get a reminder text</h2>
      <p>We'll shoot you a text with directions.</p>
      <a href="#">Learn More</a>
    </div>
    <div align="center" class="col-md-4">
      <h2>Eat & Enjoy Your Meal</h2>
      <p>Take a seat and chow down.</p>
      <a href="#">Learn More</a>
=======
  <div class="container">
    <div class="col-md-12 text-center">
      <div id="background">  
        <div class="brand">
        <div id="black_background">
      <!-- <div class="slogan_container">Have a Seat with Us</div> -->
        <div clas="slogan container" id="footer">Have a Seat with Us </div>
      </div>
>>>>>>> e0741d16eb82abe1fc31da507591d6ee0441e847
    </div>
  </div>
    
   


  </body>
</html>
