<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" href="/assets/images/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <link rel="icon" href="/assets/images/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Seat" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Seat" %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- Navigation -->
    <div id="headSpace"> </div>
  <header class="container-fluid">
    <%= render 'layouts/navigation' %>
  </header>
<!-- Nav End -->

<!-- Body -->
<div id="main" role="main">
  <div class="col-md-12 text-center">
      <%= render 'layouts/messages' %>
      <%= yield %>       
  </div>
</div>
<!-- Body End -->

<!-- Footer -->
<div id="footer" class="navbar-default">
  <div class="container">
       <p>Your Footer Content Here</p>
  </div>
</div>

<!-- Footer End -->
      
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>

  <script type="text/javascript" src="assets/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/jquery-1.11.1.min.js"></script>
</html>
