<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="animate.min.css">
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" href="/assets/images/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <link rel="icon" href="/assets/images/favicon.ico" />
  <script type="text/javascript" src="assets/bootstrap.min.js"></script>
  <script type="text/javascript" src="assets/jquery-1.11.1.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Seat" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Seat" %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <div id="spacing"> </div>
  <header class="container-fluid">
    <%= render 'layouts/navigation' %>
  </header>


  <div id="main" role="main">
  <div class="col-md-12 text-center">



      <%= render 'layouts/messages' %>
       <%= yield %>       


  <div class="container three-callouts">
    <div align="center" class="col-md-3">
      <h2>Place a reservation</h2>
      <p>Set a date at your favorite spot.</p>
      <a href="#">Learn More</a>
    </div>
    <div align="center" class="col-md-3">
      <h2>Get a reminder text</h2>
      <p>We'll shoot you a text with directions.</p>
      <a href="#">Learn More</a>
    </div>
    <div align="center" class="col-md-3">
      <h2>Eat & Enjoy Your Meal</h2>
      <p>Take a seat and chow down.</p>
      <a href="#">Learn More</a>
    </div>
  </div>
  
  <hr/>
           
     
  </section>
  

  
      </ul>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </main>
    
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
